  
html,body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

.cont{
  height:100%;
  width:100%;
}

.item{
  margin:0;
  padding:0;
  height:120%;
  width:100%;
  background-color: cornsilk;
}

.red{
  background-color: blanchedalmond;
}
.red img {
    position: absolute;
    top: 0;
    right: 0;
    width: 67%;
    transition: 1s;
}
.cont p{
  position:fixed;
  font-size:25px;
  top:15%;
  left:3%;
  background-color: yellow;
  z-index: 1;
}    

.cont #mobile{
  width: 37%;
  position: absolute;
  font-size: 20px;
  top:30%;
  left:3%;
  line-height: 35px;
}   
.cont h1 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 30px;
}