 * {
    margin: 0;
    padding: 0;
}
body {
    color: rgb(51, 72,75);
    font-family: sans-serif;
}
header {
    position: fixed;
    width: 100%;
    height: 60px;
    border: 1ps solid silver;
    z-index: 1;
}
.container{
    width: 100%;
    top: 70px;
    position: relative;
    padding-top: 0;
    margin: 0;
    z-index: -1;
}
.block-left{
    top: 0;
    position: absolute;
    width: 44%;
    left: 3%;
    font-size: 18px;
    height: 1000px;
}
.block-right  {
    top: 0;
    position: absolute;
    right: 0;
    width: 51%;
    height: 1000px;
}
.anime {
    height: inherit;
}
 
.block-right img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
 
.bl-text {
    position: absolute;
    top: 120px;
    line-height: 30px;
}
.block-left h1{
    font-size: 56px;
    line-height: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}
.block-left p {
    width: 110%;
    margin: 20px 0;
}
@media screen and (max-width: 900px) {
    .block-left{
        width: 100%;
        height: 1300px;
    }
    .block-right {
        width: 100%;
    }
    .bl-text {
        width: 80%;
        top: 900px;
        margin: 5%;
    }
    .block-right img{
        width: 80%;   
    }
}
 
  @media screen and (max-width: 800px) {
      .block-left h1 {
          font-size: 
              50px;
          line-height: 70px;
      }
      .bl-text {
          position: absolute;
          top: 750px;
      }
      .block-right img {
          width: 90%;
      }
} 
 
  @media screen and (max-width: 700px) {
    
      .bl-text {
          position: absolute;
          top: 600px;
      }
} 
  @media screen and (max-width: 600px) {
    
      .bl-text {
          position: absolute;
          top: 500px;
      }
} 
 
  @media screen and (max-width: 500px) {
      .block-left h1 {
          font-size: 40px;
          line-height: 45px;
      }
      .bl-text {
          position: absolute;
          top: 500px;
      }
      .block-right img {
          width: 100%;
      }
} 
  @media screen and (max-width: 400px) {
      .block-left h1 {
          font-size: 30px;
      }
      .bl-text {
          position: absolute;
          top: 350px;
      }
} 
} 
  @media screen and (max-width: 300px) {
      .block-left h1 {
          font-size: 20px;
          line-height: 30px;
      }
      .bl-text {
          position: absolute;
          top: 300px;
      }
}    
  @media screen and (max-width: 200px) {
      .block-left h1 {
          font-size: 15px;
          line-height: 20px;
      }
      .bl-text {
          position: absolute;
          top: 180px;
      }
}  