  
header {
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.clear {
    clear: both;
}
 .container {
    width: 1000px;   
    height: 500px;
    margin: 0 auto;
    border: 4px solid black;
    overflow: hidden;
}
.block-left {
    width: 450px;
    background-color: yellow;
     float: left;
    height: 500px;
    position: relative;
}
.block-right {
    width: 550px;
    float: right;
    height: 500px;
    position: relative;
}
 
.block-right img {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    right: 0;
}
.anime {
     position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    right: 0; 
}




 

 
 